.visualizer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: black;
    color: white;
}
.visualizer-header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 30%;
    z-index: 1;
}
.visualizer-countdown {
    font-family: 'Caveat Brush', sans-serif;
    font-size: 40vh;
    color: #eceff1;
    text-shadow: 0px 0px 0px red;
    z-index: 1;
}
.bdm-logo-sm {
    float: left;
    margin-top: 3%;
    margin-left: 70px;
    height: 100%;
}
.puma-logo-sm {
    position: relative;
    float: right;
    margin-top: calc(3% + 10px);
    margin-right: 70px;
    height: 90%;
    filter: invert(100%);
}
.bdm-logo-center {
    height: 80%;
    z-index: 1;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.particles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
